{% load static %}

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="/">
          {% if client %}
        <img src="{{ client.Logo.url }}" alt="{{ client.Name }} logo" style="width: 70px;">
              {% else %}
          {% endif %}
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

<ul class="navbar-nav mr-auto" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
	<!-- Left -->
<li itemprop="name" class="nav-item">
		<a class="nav-link" itemprop="url" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" itemprop="url" href="">About</a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href=""></a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href=""></a>#}
{#          </li>#}
{#		  <li class="nav-item">#}
{#            <a class="nav-link" href=""></a>#}
{#          </li>#}
</ul>
<!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
        <!-- Telephone -->
        {% if client.TelLink %}
          <li class="nav-item">
			   <a href="tel:{{ client.TelLink }}" class="nav-link">
              <i class="fa fa-phone"></i>
            </a>
          </li>
            {% else %}
        {% endif %}
        <!-- Social Media Accounts -->
         {% if social %}
            {% for social in social %}
			 <li class="nav-item">
            <a href="{{ social.Link }}" class="nav-link" target="new">
              <i class="fa fa-{{ social.Type }}"></i>
            </a>
          </li>
            {% endfor %}
            {% else %}
        {% endif %}
        <!-- Social Media Accounts -->
        <!-- Email -->
        {% if client.Email %}
          <li class="nav-item">
            <a href="mailto:{{ client.Email }}" class="nav-link">
              <i class="fa fa-envelope mr-2"></i>
            </a>
          </li>
            {% else %}
        {% endif %}
{#            {% if user.is_authenticated %}#}
{#            <li#}
{#            {% if 'profile' in request.path %}#}
{#              class="nav-item active mr-3"#}
{#            {% else %}#}
{#              class="nav-item mr-3"#}
{#            {% endif %}>#}
{#              <a class="nav-link border border-light rounded" href="{% url 'profile' %}">#}
{#               Welcome {{ user.username }}</a>#}
{#            </li>#}
{#            <li class="nav-item mr-3">#}
{#              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">#}
{#                <i class="fas fa-sign-out-alt"></i> Logout#}
{#              </a>#}
{#              <form action="{% url 'logout' %}" method="POST" id="logout">#}
{#                {% csrf_token %}#}
{#                <input type="hidden">#}
{#              </form>#}
{#            </li>#}
{#          {% else %}#}
{#            <li#}
{#            {% if 'login' in request.path %}#}
{#              class="nav-item active mr-3"#}
{#            {% else %}#}
{#              class="nav-item mr-3"#}
{#            {% endif %}#}
{#            >#}
{#              <a class="nav-link border border-light rounded"#}
{#                 href="{% url 'login' %}">#}
{#                <i class="fa fa-sign-in"></i>Login</a>#}
{#            </li>#}
{#          {% endif %}#}

        </ul>


      </div>

    </div>
  </nav>
