{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block canonical %}{% endblock %}
<!-- Schema Tag -->
{% block schema %}
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "{{ client.Type }}",
  "name": "{{ client.Name }}",
  "telephone": "+1{{ client.Telephone }}", {# +1(708) 388-4220 #}
  "url": "{{ client.Website.url }}",
  "sameAs": [
    {% for client in clients %}
    "https://www.facebook.com/TLCBlueIsland/",
    "https://www.yelp.com/biz/tlc-learning-center-blue-island",
    "https://www.linkedin.com/company/tlc-learning-center-schools"
    {% endfor %}
  ],
  "logo": "{{ client.Logo.url }}",
  "image": "https://www.tlcblueisland.com/media/photos/gallery/2019/06/blue-island.JPG",
  "priceRange": "{{ client.PriceRange }}",
  "description": "{{ client.Description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ client.StreetAddress }}",
    "addressLocality": "{{ client.City }}",
    "addressRegion": "{{ client.State }}",
    "postalCode": "{{ client.Zip }}",
    "addressCountry": "United States"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ client.Latitude }}",
    "longitude": "{{ client.Longitude }}"
  },
 "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      	"Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "06:00",
      "closes": "18:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "Closed",
      "closes": "Closed"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "Closed",
      "closes": "Closed"
    }
  ]
}
 </script>
{% endblock %}
<!-- Schema Tag -->

{% block content %}
<main>
<div class="container">

</div>
</main>
{% endblock %}