{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block canonical %}{% endblock %}
<!-- Schema Tag -->
{% block schema %}
<script type='application/ld+json'>
{% if client %}
{
  "@context": "http://www.schema.org",
  "@type": "{{ client.Type}}",
  "name": "{{ client.Name }}",
  "telephone": "+1{{ client.Telephone }}", {# +1(708) 388-4220 #}
  "url": "{{ client.Website.url }}", {% if social %}
  "sameAs": [{% for social in social %}
    {{ social.Link }},{% endfor %}
  ], {% endif %}
  "logo": "{{ client.Logo.url }}",
  "image": "https://www.tlcblueisland.com/media/photos/gallery/2019/06/blue-island.JPG",
  "priceRange": "{{ client.PriceRange }}",
  "description": "{{ client.Description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ client.StreetAddress }}",
    "addressLocality": "{{ client.City }}",
    "addressRegion": "{{ client.State }}",
    "postalCode": "{{ client.Zip }}",
    "addressCountry": "United States"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "{{ client.Latitude }}",
    "longitude": "{{ client.Longitude }}"
  },
 "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      	"Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "06:00",
      "closes": "18:30"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "Closed",
      "closes": "Closed"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "Closed",
      "closes": "Closed"
    }
  ]
}
{% endif %}
 </script>
{% endblock %}
<!-- Schema Tag -->

{% block content %}


<!-- Carousel Component -->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
<!--Indicators-->
<ol class="carousel-indicators">
  <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-example-1z" data-slide-to="1"></li>
  <li data-target="#carousel-example-1z" data-slide-to="2"></li>
</ol>
<!--/.Indicators-->
<!-- Slides Component -->
<div class="carousel-inner" role="listbox">
{% if slide %}
{% for slide in slide %}
  <!--Slides-->
 <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
    <div class="view" style="
                 background-image: url('{{ slide.Image.url }}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: 100%;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeInUp">
            <h1 class="h1-responsive mb-4">
                {% if client %}
                    Welcome to {{ client.Name }}!
                {% else %}
                    { Enter New Client Name }
                {% endif %}
            </h1>
        {% if form %}
              <a class="btn btn-outline-white"
                 data-toggle="modal"
                 data-target="#modal{{ form.Name }}Form">
                  {{ form.Name }}
                  <i class="fa fa-chevron-right ml-2"></i>
              </a>
            {% else %}
        {% endif %}
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </div>
{% endfor %}
{% else %}
<!-- Slides Component -->
 <div class="carousel-item active">
    <div class="view" style="
                 background-color: gray;
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: 100%;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
            <h1 class="h1-responsive mb-1">
                { Enter New Client Name }
            </h1>
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </div>
{% endif %}
  <!-- End Slides-->
</div>
<!--/.Slides-->
<!--Controls-->
<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
<!--/.Controls-->
</div>
<!-- Carousel Component -->

<main>
<div>
<!-- Section: About Us -->
      <section class="mt-3 container py-4">
          <div class="divider-new p-4">
              <h1 class="h1-responsive text-center mx-3">
                  About Us
              </h1>
          </div>
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-6 mb-4">
              {% if client %}
            <img src="{{ client.ServicesPhoto.url }}"
                 class="img-fluid z-depth-1-half"
                 alt="About {{ client.Name }}">
                {% else %}
              {% endif %}
          </div>
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <!-- Main heading -->
          {% if client %}
           <!--Title-->
            <h2 class="mb-2 h2-responsive text-center">
                {{ client.Name }}
            </h2>
              {% else %}
          {% endif %}
 <!-- Tabs Nav Bar -->
<ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
  <li class="nav-item">
    <a class="nav-link active black-text"
       id="home-tab-md"
       data-toggle="tab"
       href="#home-md"
       role="tab"
       aria-controls="home-md"
      aria-selected="true">
        Our Mission
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link black-text" id="profile-tab-md" data-toggle="tab" href="#profile-md"
       role="tab" aria-controls="profile-md"
      aria-selected="false">Our History</a>
  </li>
</ul>
<!-- Tabs Nav Bar -->
<!-- Tabs Content -->
        <div class="tab-content card pt-1" id="myTabContentMD">
          <div class="m-4 tab-pane fade show active"
               id="home-md" role="tabpanel" aria-labelledby="home-tab-md">
                <p></p>
              <div class="text-center">
              <!-- CTA -->
                    <a href=""
                       class="btn btn-red btn-md">
                        Learn more
                      <i class="fa fa-info-circle ml-1"></i>
                    </a>
                  {% if form %}
                    <a class="btn btn-red btn-md"
                       data-toggle="modal"
                       data-target="#modal{{ form.Name }}Form">
                        {{ form.Name }}
                      <i class="fa fa-chevron-right ml-1"></i>
                    </a>
                      {% else %}
                  {% endif %}
                  </div>
          </div>
        <div class="m-4 tab-pane fade" id="profile-md"
             role="tabpanel" aria-labelledby="profile-tab-md">
                  <p></p>
                <div class="text-center">
          <!-- CTA -->
                <a href=""
                   class="btn btn-red btn-md">
                    Learn more
                  <i class="fa fa-info-circle ml-1"></i>
                </a>
                {% if form %}
                <a class="btn btn-red btn-md"
                   data-toggle="modal"
                   data-target="#modal{{ form.Name }}Form">
                    {{ form.Name }}
                  <i class="fa fa-chevron-right ml-1"></i>
                </a>
                    {% else %}
                {% endif %}
            </div>
        </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>
<!-- Section: About Us -->



<!-- Section: 4 Columns with Parallax Row -->
{% if parallaxrow %}
<section>
<div class="streak streak-photo streak-long-2 rgba-gradient"
     style="background-image: url('{{ parallaxrow.Image.url }}');">
      <div class="flex-center mask">
        <div class="container">
          <!-- Section heading -->
          <h2 class="text-center h2-responsive mb-5 pb-4 white-text wow fadeIn"
              data-wow-delay="0.2s"
              style="visibility: visible;
              animation-name: fadeIn;
              animation-delay: 0.2s;">
            {{ parallaxrow.Title }}
          </h2>
          <!--First row-->
          <div class="row text-center">
              {% for column in column %}
            <!--First column-->
            <div class="col-md-3 mb-2">
              <h3 class="white-text mb-1 font-weight-bold h3-responsive">
                  {{ column.Stat }}
              </h3>
              <p class="white-text lead">
                  {{ column.Title }}
              </p>
            </div>
            <!--/First column-->
              {% endfor %}
          </div>
          <!--First row-->
        </div>
      </div>
    </div>
</section>
    {% else %}
{% endif %}
<!-- Section: 4 Columns with Parallax Row -->

<!-- Section: Services -->
{% if service %}
<div class="container-fluid" style="background-color: #f4f4fa">
    <div class="container py-4">
        <!--Section: Services-->
        <section class="section mt-3 mb-3 pb-3">
            <!-- Section heading -->
            <h2 class="text-center h2-responsive my-5 pt-2 black-text fadeIn"
                data-wow-delay="0.2s"
                style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                {{ service.Title }}
            </h2>
            <!-- Section Description -->
            <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn text-center"
               data-wow-delay="0.2s"
               style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
                {{ service.Description }}
            </p>

            <!-- First row -->
            <div class="row wow fadeIn"
                 data-wow-delay="0.4s"
                 style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
                {% for item in service.Category.all %}
                <!-- First column -->
                <div class="col-md-4 mb-5 text-center">
                    <!--Panel-->
                    <div class="card card-body text-left white hoverable">
                        <p class="feature-title h5-responsive dark-grey-text text-uppercase spacing mt-4 mx-4">
                            <i class="fa fa-square orange-text mr-2" aria-hidden="true"></i>
                            <strong>{{ item.Name }}</strong>
                        </p>
                        <p class="grey-text font-small mx-4">
                            {{ item.Description|truncatewords:45 }}
                        </p>
                    </div>
                    <!--/.Panel-->
                </div>
                <!-- Services Column -->
                {% endfor %}
            </div>
            <!-- Services Row -->
        </section>
        <!-- Section: Services-->
    </div>
</div>
    {% else %}
{% endif %}
<!-- Section: Services -->

<!-- Section: Products -->
{% if product %}
<div class="container">
    <section id="features" class="section feature-box text-center my-5">
        <!-- Section heading -->
        <h2 class="h2-responsive my-5 wow fadeIn"
            data-wow-delay="0.2s"
            style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            <strong>{{ product.Title }}</strong>
        </h2>
        <!-- Section Description -->
        <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn"
           data-wow-delay="0.2s"
           style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            {{ product.Description }}
        </p>

        <!--Grid row-->
        <div class="row features wow fadeIn"
             data-wow-delay="0.2s"
             style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
            {% for item in product.Category.all %}
            <div class="col-md-4 col-lg-4 text-center">
                <div class="icon-area">
                    <div class="circle-icon">
                        <i class="fas fa-cogs blue-text"></i>
                    </div>
                    <br>
                    <h5 class="dark-grey-text font-weight-bold mt-2">
                        {{ item.Name }}
                    </h5>
                    <div class="mt-1">
                        <p class="mx-3 grey-text">
                            {{ item.Description|truncatewords:45 }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--Grid row-->

    </section>
</div>
    {% else %}
{% endif %}
<!-- Section: Products -->


</div>
</main>
{% endblock %}